Game/Library
Game/.idea
Game/obj
Game/UserSettings/Layouts
Game/Logs
Game/Temp
Game/Core.csproj
Game/Assembly-CSharp.csproj
Game/Game.sln
Game/Assets/BuildOutFolder
Game/Assets/BuildOutFolder.meta
**.csproj
*.csproj
Game/UserSettings/EditorUserSettings.asset
